<div class="container ">
  <a (click)="close()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>

  <div class="user">
    <h2>Change Password</h2>
  </div>
  <!--   for big device -->
  <div class="d-none d-lg-block">
    <div class="user1">
      <div class="setting">
        <form action="/action_page.php">
          <div class="input-container">
            <label for="subject">Old Password</label>
            <input #oldPassword class="input-field" type="password" placeholder="" name="oldPassword">
          </div>

          <div class="input-container frees">
            <label for="subject">New PASSWORD</label>
            <input #newpwd class="input-field" type="password" placeholder="" name="psw"
              (keyup)="onKey(newpwd.value, newpwd2.value)">
          </div>
          <div class="input-container frees">
            <label for="subject">CONFRIM PASSWORD</label>
            <input #newpwd2 class="input-field pastt" type="password" placeholder="" name="psw1"
              (keyup)="onKey(newpwd.value, newpwd2.value)">

          </div>
          <p> {{values}} </p>
        </form>
      </div>

      <div class="text-left"><button type="button" class="btn btn6"
          (click)="changePassword($event, oldPassword.value, newpwd.value,newpwd2.value)">Change</button></div>
    </div>

  </div>
  <!-- For small device  -->
  <div class="d-lg-none">
    <div class="user2" style="width: 98%; border-bottom: solid 5px #000;">
      <div class="setting">
        <form action="/action_page.php">

          <div class="input-container frees">
          <label for="subject">Old Password</label>
          <input #oldPassword_s class="input-field" type="password" placeholder="" name="psw">
          </div>
          <div class="input-container frees">
            <label for="subject">New PASSWORD</label>
            <input #newpwd_s class="input-field" type="password" placeholder="" name="psw"
              (keyup)="onKey(newpwd_s.value, newpwd2_s.value)">
          </div>
          <div class="input-container frees">
            <label for="subject">CONFRIM PASSWORD</label>
            <input #newpwd2_s class="input-field pastt" type="password" placeholder="" name="psw1"
              (keyup)="onKey(newpwd_s.value, newpwd2_s.value)">

          </div>
          <p> {{values}} </p>
        </form>
      </div>

      <div class="text-left"><button type="button" class="btn btn6"
          (click)="changePassword($event, oldPassword_s.value, newpwd_s.value,newpwd2_s.value)">Change</button></div>
    </div>

  </div>
</div>