<div class="container">
  <div class="row pricing bottommargin clearfix">

    <div class="col-md-4">

      <div class="pricing-box" id="goatgunfree">
        <div class="pricing-title">
          <h3>Free</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">$</span>0<span class="price-tenure">/mo</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li><strong>3</strong> gun slots</li>
            <li>&nbsp;</li>
          </ul>
        </div>
        <div class="pricing-action">
          <button  class="btn btn-danger btn-block btn-lg" name="goatgunfree"
             (click)="selectPlan($event, 'goatgunfree')">Select</button>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="pricing-box best-price" id="goatgunbasic">
        <div class="pricing-title">
          <h3>BASIC</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">$</span>2.99<span class="price-tenure">/mo</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li><strong>10</strong> gun slots</li>
            <li><strong>5</strong> textures</li>
          </ul>
        </div>
        <div class="pricing-action">
          <button class="btn btn-danger btn-block btn-lg bgcolor border-color" name="goatgunbasic"
          (click)="selectPlan($event, 'goatgunbasic')">Select</button>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="pricing-box" id="goatgunpro">
        <div class="pricing-title">
          <h3>PRO</h3>
        </div>
        <div class="pricing-price">
          <span class="price-unit">$</span>7.99<span class="price-tenure">/mo</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li><strong>Unlimited</strong> gun slots</li>
            <li><strong>25</strong> textures</li>
          </ul>
        </div>
        <div class="pricing-action">
          <button class="btn btn-danger btn-block btn-lg" name='goatgunpro'
          (click)="selectPlan($event, 'goatgunpro')">Select</button>
        </div>
      </div>
    </div>
  </div>
  <form novalidate (ngSubmit)="changeMembership($event, pricingPlan)" [formGroup]="stripeTest">
    <div class="col-lg-12">
    <input class="form-control" type="text" formControlName="name" placeholder="Account Holder Name"><br>
  </div>
  <div class="col-lg-12">
    <div id="card-element" class="field"></div>
  </div>
  <div class="col-lg-12" id="cardPay">
    <button class="btn btn-success btn-lg submit" type="submit">
      OK
    </button>
    <button class="btn btn-success btn-lg submit" type="button" (click)="close()">
      Cancel
    </button>
  </div>
  </form>
  </div>

