.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0 0.5em;
}

.navbar-brand img {
    width: auto;
    height: 2em;
}

.navbar-nav * {
    vertical-align: middle;
}

.nav-item a {
    display: block;
    margin: 0 0;
    padding: 0 0.5em;
}

.nav-item:not(:first-child):not(:last-child) a {
    border-left: 2px solid lightgrey;
}

.nav-item .icon {
    margin-right: 0.25em;
}

.nav-item img {
    height: 2em;
    margin-right:1em;
}

.nav-item img.large {
    height: 50px;
}
.nav-item .small {
  height: 1.5em;
  padding-right: 0.4em
}




.nav-item.large {
    background-color: #EC121F;
    color: #F1F2ED;
    padding: 0;
}

.nav-item.large a {
    border-left: none;
}

.nav-item.large a:hover {
    color: #222222;
}


  nav{
    border-bottom: 6px solid #FFA942 }

.top-item {
    border : 0px;
}

.top-item:hover {
    border:3px solid;
    border-color: #FFA942;
    border-radius:6px;
}
.sidebar {
  position: absolute;
   
  right: 0em;
  }
  
  .sidebar a {
    display: flex;
    text-decoration: none;
  }
   
 
  
  @media screen and (max-width: 700px) {
    
  }
  
  @media screen and (max-width: 420px) {
      
    .navbar-brand img {
      width: auto;
      height: 1em;
    }
    .nav-item img{
      height: 1em;
      margin-right:0.1em;
    }
    .nav-item .small {
      height: 1em;
      margin-top:0px;
      margin-right: 1em;
    }
    .sidebar {
      position: absolute;
       
      right: 1em;
      }
    
  }