<div id = "sideNav" class="stretched side-header side-header-right open-header close-header-on-scroll">
<div id="header-trigger">
    <a href="#" (click)="controlNav($event)"  *ngIf="!isNavOpen">
        <i class="fa fa-bars fa-lg"></i>
    </a>
    <a href="#" (click)="controlNav($event)" *ngIf="isNavOpen">
        <i class="fa fa-times fa-lg" *ngIf="isNavOpen"></i>
    </a>
</div>
<!-- Header
============================================= -->
<header id="header" class="no-sticky">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo" class="nobottomborder text-center">
                <a class="navbar-brand mr-auto" href="#"><img src="assets/img/logo-goat.png" id="log"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul>
                  <li class="nav-link" class="nav-item top-item">
                    <strong>THIS WEAPON</strong>
                  </li>
                  <li class="nav-link" class="nav-item top-item">
                    <a href="#" (click)="startSave($event)">
                      <img src="assets/img/profile/Save.png" />
                      <span class="d-sm-inline">&nbsp;Save TO MY WALL</span>
                    </a>
                  </li>
                  <li class="nav-link" class="nav-item top-item">
                    <a href="#" (click)="startMarketing($event)">
                      <img src="assets/img/nav-icons/postmarket.png" />
                      <span class="d-sm-inline">POST TO MARKET</span>
                    </a>
                  </li>
                  <li class="nav-link" class="nav-item top-item">
                    <a href="#" (click)="openShareModal($event)">
                      <img src="assets/img/nav-icons/share-v2.svg" />
                      <span class="d-sm-inline">&nbsp;Share</span>
                    </a>
                  </li>
                  <li class="nav-link" class="nav-item top-item">
                    <strong>GO VISIT</strong>
                  </li>

                  <li class="nav-link" class="nav-item top-item">
                    <a href="#" (click)="openMarketModal($event)">
                      <img src="assets/img/nav-icons/Market.png" />
                      <span class="d-md-inline">&nbsp;MARKETPLACE</span>
                    </a>
                  </li>
                  <li class="nav-link" class="nav-item top-item">
                    <a href="#" (click)="openGunwallModal($event)">
                      <img src="assets/img/nav-icons/Gunwall.png" />
                      <span class="d-sm-inline">&nbsp;GUNWALL</span>
                    </a>
                  </li>
                  <li class="nav-link" class="nav-item top-item">
                    <a href="#" (click)="openFavoriteModal($event)">
                      <img src="assets/img/nav-icons/Favorite.png" />
                      <span class="d-sm-inline">&nbsp;FAVORITEWALL</span>
                    </a>
                  </li>


                  <li class="nav-link" class="nav-item top-item">
                    <strong>MY ACCOUNT</strong>
                  </li>
                  <li class="nav-link" class="nav-item top-item">
                    <a href="#" (click)="openlogin($event)">
                      <img src="../../assets/img/profile/Profile.png" />
                      <span class="d-sm-inline">&nbsp;Profile</span>
                    </a>
                  </li>
                  <li class="nav-link" class="nav-item top-item">
                    <a href="#" (click)="openUpgrade($event)">
                      <img src="../../assets/img/nav-icons/upgrade.png" />
                      <span class="d-sm-inline">&nbsp;Upgrade</span>
                    </a>
                  </li>
                </ul>

            </nav><!-- #primary-menu end -->
        </div>

    </div>

</header><!-- #header end -->
</div>
