<div id = "sideNav" class="stretched side-header side-header-right open-header close-header-on-scroll">
<div id="header-trigger">
    <a href="#" (click)="controlNav($event)"  *ngIf="!isNavOpen">
        <i class="fa fa-bars fa-lg"></i>
    </a>
    <a href="#" (click)="controlNav($event)" *ngIf="isNavOpen">
        <i class="fa fa-times fa-lg" *ngIf="isNavOpen"></i>
    </a>
</div>
<!-- Header
============================================= -->
<header id="header" class="no-sticky">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo" class="nobottomborder text-center">
                <a class="navbar-brand mr-auto" href="#"><img src="assets/img/logo-goat.png" id="log"></a>            
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li class="nav-link" class="nav-item top-item">
                        <a href="#" (click) ="openMarketModal($event)">
                            <img  src="assets/img/nav-icons/Market.png"/>
                            <span class="d-md-inline">&nbsp;MARKET</span>
                        </a>
                    </li>
                    <li class="nav-link" class="nav-item top-item">
                        <a href="#" (click) ="openGunwallModal($event)">
                            <img  src="assets/img/nav-icons/Gunwall.png"/>
                            <span  class="d-sm-inline">&nbsp;GUNWALL</span>
                        </a>
                    </li>
                    <li class="nav-link" class="nav-item top-item">
                        <a href="#" (click) ="openFavoriteModal($event)">
                            <img  src="assets/img/nav-icons/Favorite.png"/>
                            <span  class="d-sm-inline">&nbsp;FAVORITE</span>
                        </a>
                    </li>
                    <li class="nav-link" class="nav-item top-item">
                        <a href="#" (click) ="openShareModal($event)">
                            <img  src="assets/img/nav-icons/share-v2.svg"/>
                            <span  class="d-sm-inline">&nbsp;Share</span>
                        </a>
                    </li>
                    <li class="nav-link" class="nav-item top-item">
                        <a href="#" (click) ="startSave($event)">
                            <img  src="assets/img/nav-icons/Save-color.png"/>
                            <span  class="d-sm-inline">&nbsp;Save</span>
                        </a>
                    </li>
                    <li class="nav-link" class="nav-item top-item">
                        <a href="#" (click) ="startMarketing($event)">
                            <img  src="assets/img/nav-icons/Market-color.png"/>
                            <span  class="d-sm-inline">&nbsp;Marketing</span>
                        </a>
                    </li>
                    <li class="nav-link" class="nav-item top-item">
                        <a href="#"(click) = "openlogin($event)">
                            <img class="small" src="assets/img/nav-icons/login-v2.png"/>
                            <span  class="d-sm-inline">Profile</span>
                        </a>
                    </li>
                </ul>

            </nav><!-- #primary-menu end -->
        </div>

    </div>

</header><!-- #header end -->
</div>