.header {
  border-radius: 0.5em 0.5em 0 0 !important;
  background-color: white;
  color: #969696;
}

.header-color {
  background-color: #dadada;
}

.header-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.overlay-parent {
  position: relative !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 9999;
  color: white;
  display: inline-block;
}

.modal-content {
  width: 100%;
  -webkit-border-radius: 2em !important;
  -moz-border-radius: 2em !important;
  border-radius: 2em !important;
  border: 0px;
}

.modal-dialog {
  border: 2em !important;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #00B4CC;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

